<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMenu</servlet-name>
        <servlet-class>servlet.ServletMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMantDoctor</servlet-name>
        <servlet-class>servlet.ServletMantDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMantPaciente</servlet-name>
        <servlet-class>servlet.ServletMantPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMantHerramienta</servlet-name>
        <servlet-class>servlet.ServletMantHerramienta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMantUsuario</servlet-name>
        <servlet-class>servlet.ServletMantUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMenu</servlet-name>
        <url-pattern>/ServletMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMantDoctor</servlet-name>
        <url-pattern>/ServletMantDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMantPaciente</servlet-name>
        <url-pattern>/ServletMantPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMantHerramienta</servlet-name>
        <url-pattern>/ServletMantHerramienta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMantUsuario</servlet-name>
        <url-pattern>/ServletMantUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.html</welcome-file>
    </welcome-file-list>
</web-app>
